# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio

*.iml

## Directory-based project format:
.idea/

### npm test
### https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
/node_modules
/package-lock.json

### composer test
/composer.phar
/vendor/
/composer.lock
/.phpunit.result.cache
